@font-face {
    font-family: "Latin Modern Mono";
    src: local("Latin Modern Mono Doodah"),
          url("./assets/fonts/lmmono10-regular.otf") format("opentype"),
          url("./assets/fonts/lmmono10-regular.woff2") format("woff2"),
          url("./assets/fonts/lmmono10-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Latin Modern Mono", monospace;
  letter-spacing: 0.1em;
  min-width: 360px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

div#root {
  width: 100%;
  height: 100%;
  max-width: 42em;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-top: 1em;
}

hr {
  border-color: rgba(45, 45, 45, 0.6);
  margin: 0em 1em;
}

nav>a{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0.5em;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  color: inherit;
  border-bottom: 0.1em solid rgba(45, 45, 45, 0);
}

nav>a:hover {
  border-bottom: 0.1em solid rgba(45, 45, 45, 0.6);
}

section {
  margin: 5em 0em;
}

.the-list-pre {
    width: 100%;
    height: auto;
    border: 0.1em solid rgba(45, 45, 45, 0.6);
}

div.shop-builder>iframe {
  min-height: 30em;
  float: left;
  margin: 0 2em 1em 0;
}

div.shop-builder>p, div.shop-builder>ul {
  text-align: justify;
  margin-bottom: 1em;
}

div.shop-builder>ul>li {
  margin-bottom: 1em;
}
pre[class*="language-"] {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  border-radius: 1px;
}

article {
  margin: 0em 1em;
}

article h3 {
  opacity: 0.8;
}

article h4 {
  font-style: italic;
  opacity: 0.7;
  font-size: 0.9em;
}

ul {
  padding-inline-start: 1em;
}

ul>li {
  margin: 1em;
  list-style-type: square;
}

ul>li>ul {
  padding: 0;
  margin-top: 0.2em;
}

ul>li>ul>li {
  list-style-type: none;
  margin: 0.2em 0.1em;
  font-size: 0.8em;
}

ul>li>ul>li:before {
  content: "*";
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 0.8em;
}

article#resume details {
  margin-top: 2em;
}

article#resume details>summary>em:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

dd {
  margin-inline-start: 1em;
}

section>div {
  margin-bottom: 2em;
}

/* h1>a:before, h2>a:before, h3>a:before, h4>a:before, h5>a:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…YuNTgyLjAwMS05LjA5My0yLjUxMS0yLjUxLTYuNTgxLTIuNTEtOS4wOTIgMHoiLz48L3N2Zz4=);
    display: inline-block;
    transform: scale(0.7) translateY(7px);
} */

article section:nth-child(1) {
  margin-top: 2em;
}

article section:last-child {
  margin-bottom: 1em;
}